
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Wowcolors
$wow-blue: #059DD2;
$wow-dark-blue: #2E368F;
$wow-light-blue: #40C2F0;
$wow-hover-blue: #357ca5;
$wow-green: #19AB80;
$wow-light-green: #94CE58;
$font_0: FontAwesome;
