
// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:200,400,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
// @import '~admin-lte/dist/css/skins/_all-skins.css';
@import 'skin-wowmelo';
@import '~icheck-bootstrap/icheck-bootstrap.min.css';
@import "~font-awesome-sass/assets/stylesheets/font-awesome";
@import "~admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.css";
@import "~ionicons/dist/css/ionicons-core.min.css";
@import "~ionicons/dist/css/ionicons.min.css";
@import "~image-picker/image-picker/image-picker.css";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#table-orders{
  cursor: pointer;
}
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
ul.thumbnails.image_picker_selector li.group {width:100%;}
ul.thumbnails.image_picker_selector li.group_title {
  float: none; }
ul.thumbnails.image_picker_selector li {
  margin: 0px 6px 12px 0px!important;
  float: left; }
ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 8px!important;
  margin-bottom: 0px!important;
  border: 1px solid #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #0088cc; }

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
