/*
 * Skin: Wowmelo
 * ----------
 */

body {
    font-family: 'Quicksand';
}

.pl-4 {
    padding-left: 100px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Quicksand', sans-serif;
}

.skin-blue {
    .main-header {
        .navbar {
            background-color: $wow-light-blue;

            .nav {
                & > li {
                    & > a {
                        color: #ffffff;

                        &:hover,
                        &:active,
                        &:focus {
                            background: rgba(0, 0, 0, 0.1);
                            color: #f6f6f6;
                        }
                    }
                }

                .open {

                    & > a,
                    & > a:hover,
                    & > a:focus {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }

                & > .active {
                    & > a {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }
            }

            .sidebar-toggle {
                color: #ffffff;

                &:hover {
                    color: #f6f6f6;
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .logo {
            background-color: $wow-blue;
            color: #ffffff;
            border-bottom: 0 solid transparent;
            padding-top: 10px;

            &:hover {
                background-color: $wow-hover-blue;
            }
        }

        li.user-header {
            background-color: #3c8dbc;
        }
    }

    .content-header {
        background: transparent;
    }

    .wrapper,
    .main-sidebar,
    .left-side {
        background-color: $wow-blue;
    }

    .user-panel {

        & > .info,
        & > .info > a {
            color: #fff;
        }
    }

    .sidebar-menu {
        & > li {
            &.header {
                color: #4b646f;
                background: #1a2226;
            }

            & > a {
                border-left: 3px solid transparent;
            }

            &:hover > a,
            &.active > a,
            &.menu-open > a {
                color: #ffffff;
                background: $wow-hover-blue;
            }

            &.active {
                & > a {
                    border-left-color: $wow-dark-blue;
                }
            }

            & > .treeview-menu {
                margin: 0 1px;
                background: #2c3b41;
            }
        }
    }

    .sidebar {
        a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .sidebar-menu {
        .treeview-menu {
            & > li {
                & > a {
                    color: #8aa4af;

                    &:hover {
                        color: #ffffff;
                    }
                }

                &.active {
                    & > a {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .sidebar-form {
        border-radius: 3px;
        border: 1px solid #374850;
        margin: 10px 10px;

        input[type="text"],
        .btn {
            box-shadow: none;
            background-color: #374850;
            border: 1px solid transparent;
            height: 35px;
        }

        input[type="text"] {
            color: #666;
            border-top-left-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 2px;
        }

        &:focus,
        &:focus + .input-group-btn .btn {
            background-color: #fff;
            color: #666;
        }

        &:focus + .input-group-btn .btn {
            border-left-color: #fff;
        }

        .btn {
            color: #999;
            border-top-left-radius: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 0;
        }
    }

    &.layout-top-nav {
        .main-header {
            & > .logo {
                background-color: #3c8dbc;
                color: #ffffff;
                border-bottom: 0 solid transparent;

                &:hover {
                    background-color: #3b8ab8;
                }
            }
        }
    }
}

.login-page,
.register-page {
    background: #ffffff;
}

.header {
    background: #1a2226;
    height: 80rem;
    position: relative;
    z-index: 0;

    & > .row {
        height: 100%;

        .shopper,
        .merchant,
        .customer {
            height: 100%;
            color: #fff;
            background-size: cover;
            background-position: center;
            padding: 0;
            overflow: hidden;

            .title {
                font-size: 4.8rem;
                line-height: 6rem;
                font-weight: bold;
            }

            img {
                width: 100%;
                opacity: 0.4;
            }
        }
    }

    .nav-menu {
        background: transparent;
        border-bottom: 1px solid #fff;
        position: absolute;
        z-index: 1;
        height: 9rem;
        bottom: 70.8rem;
        width: 100%;

        .navbar {
            margin-top: 2rem;
            border: none;
            background: transparent;

            .navbar-brand {
                padding: 1.5rem 0;
            }

            .navbar-collapse {
                float: right;

                ul {
                    li {
                        float: left;
                        color: #ffffff;
                        font-size: 1.6rem;
                        list-style: none;
                        padding: 0 1rem;

                        a {
                            color: #ffffff;
                            font-weight: bold;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.login,
                        &.register {
                            padding: 0 0.5rem;

                            a {
                                padding: 1rem 3.5rem;
                                border: 0.1rem solid #ffffff;
                                border-radius: 0.5rem;
                                margin-top: 0.5rem;

                                &:hover {
                                    background: #ffffff;
                                    color: #000000;
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    &.dropdown-menu {
                        li {
                            padding: 0.25rem;

                            a {
                                color: #777777 !important;

                                &:hover {
                                    color: #000000;
                                    background: none;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                .dropdown {
                    a {
                        text-decoration: none;
                        line-height: 3rem;
                    }
                }
            }
        }
    }

    .introduce {
        position: absolute;
        top: 30rem;
        color: #ffffff;
        width: 100%;

        .title {
            font-size: 6rem;
            line-height: 1.3;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 2rem 0 4rem;

            li {
                list-style: none;
                font-size: 2.5rem;
                line-height: 2.5;
            }
        }

        p {
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin: 3rem 0;

            &.desc {
                font-size: 3rem;
            }
        }

        .btn {
            color: #000000;
            font-size: 1.6rem;
            font-weight: bold;
            background: #ffffff;
            border-color: #ffffff;
            padding: 1.2rem 3rem;
        }

        &.customer {
            top: 20rem;
        }
    }
}

.footer {
    background: #1c1c1c;
    color: #aaaaaa;
    padding-top: 4rem;
    font-size: 1.2rem;

    .title {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 3.2rem;
        padding-bottom: 1rem;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            line-height: 24px;
        }

        &.icons {
            width: 100%;

            li {
                float: left;

                a {
                    width: 3.6rem;
                    height: 3.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #3D3D3D;
                    margin-right: 1rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .form {
        .pr-0 {
            padding-right: 0;
        }

        .pl-0 {
            padding-left: 0;
        }

        .input-text,
        .submit {
            height: 4.5rem;
            width: 100%;
            border: none;
            padding: 0 1rem;
        }

        .submit {
            background: #999999;
            color: #fff;
        }
    }

    .copyright {
        text-align: center;
        margin-top: 5rem;
        padding: 2rem;
        border-top: 1px solid #333333;
    }
}

.d-flex {
    display: flex;
}

.section {
    padding: 5rem 0 8rem;
    text-align: center;

    &.gray {
        background: #f5f5f5;
    }

    &.cyan {
        background: #F8FDFF;
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.6rem;

        .red {
            color: #EB5757;
        }

        .green {
            color: #19AB80;
        }

        .blue {
            color: #40C2F0;
        }
    }

    .title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3.2rem;
    }

    .subtitle {
        padding: 5rem 0 4rem;
        position: relative;

        h3 {
            display: inline-block;
            background: #F5F5F5;
            padding: 0 3rem;
            margin: 0;
            font-size: 2.5rem;
            position: relative;
        }

        &:before {
            content: " ";
            display: block;
            position: absolute;
            border-bottom: 1px solid #E4E4E4;
            top: 7rem;
            width: 100%;
        }
    }

    .description {
        margin: 2rem 0 5rem;
        font-size: 1.6rem;
    }

    .content {
        text-align: justify;

        h3 {
            color: #0d6aad;
        }

        h4 {
            color: #00a7d0;
        }
    }

    .go-to-partner {
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        padding-top: 3rem;
        border-radius: 1rem;

        span {
            color: #40c2f0;
            font-size: 2rem;
        }

        &:hover {
            span {
                color: #ffffff;
            }
        }
    }

    .card {
        background: #FFFFFF;
        box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 2rem;

        .card-thumb {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18.2rem;

            img {
                max-width: 100%;
            }
        }

        .card-title {
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: bold;
        }

        .card-text {
            margin-top: 2rem;
            line-height: 2.1rem;
        }

        &.shopper {
            min-height: 41.1rem;
        }

        &.different {
            min-height: 31.1rem;
        }

        &.no-shadow {
            box-shadow: none;
        }

        &.service {
            border: 1px solid #40C2F0;
            border-radius: 1rem;
            margin-top: 10rem;

            .card-thumb {
                height: auto;
                margin-top: -7rem;
                margin-bottom: 3rem;
            }

            .card-text {
                font-size: 4rem;
                font-weight: bold;
                line-height: 1.2;
            }
        }
    }

    .panel-group {
        text-align: left;

        .panel-default {
            background: #ffffff;
            border-color: #E0E0E0;

            & > .panel-heading {
                background: #ffffff;
                color: #059DD2;
                font-weight: bold;
                font-size: 1.4rem;
                padding: 2rem;
                cursor: pointer;
            }

            .panel-title {
                font-size: 1.4rem;
                font-weight: bold;
                cursor: pointer;

                .accordion-toggle {
                    &:after {
                        font-family: $font_0;

                        content: "\f107";
                        float: right;
                        color: $wow-blue;
                    }

                    &.collapsed:after {
                        content: "\f105";
                    }
                }
            }

            .panel-body {
                font-size: 1.4rem;
                line-height: 2.4rem;
            }
        }
    }

    .contact-form {
        .pos-relative {
            position: relative;
            margin-top: 1.5rem;

            label {
                position: absolute;
                line-height: 6rem;
                left: 3rem;
            }

            .input-text,
            .select-box {
                height: 6rem;
                width: 100%;
                padding: 1rem 1rem 1rem 5rem;
                border: none;
                border-radius: 0.5rem;
                font-weight: bold;
            }

            .select-box {
                background: #ffffff;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            .textarea {
                width: 100%;
                height: 20rem;
                padding: 1.5rem 1rem 1.5rem 5rem;
                border: none;
                font-weight: bold;
            }
        }
    }

    .button-group {
        margin-top: 2rem;

        .btn-primary {
            width: 100%;
            height: 6rem;
            background: #0092ef;
            text-transform: uppercase;
            line-height: 3.7rem;
            border: none;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            font-weight: bold;
            margin-top: 2rem;
        }
    }

    .btn-contact {
        width: 25rem;
        height: 5rem;
        background: #059DD2;
        text-transform: uppercase;
        line-height: 3.7rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 2.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 3rem;
    }

    &.mission {
        .description {
            line-height: 1.9;

            .btn {
                color: #ffffff;
                font-size: 2rem;
                font-weight: bold;
                background: #40C2F0;
                border-color: #40C2F0;
                padding: 1.2rem 3rem;
                text-transform: uppercase;
            }
        }
    }

    &.advantage {

        .advantage-heading {
            & > div {
                padding: 2rem;
                text-align: left;
            }
        }

        td, th {
            padding: 0;
            text-align: left;
            width: 25%;

            div {
                padding: 2rem;
                min-height: 9rem;
                position: relative;

                span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.head {
                    background: #F9F9F9;
                }
            }
        }
    }

    &.collaborate {
        .description {
            background: #FFFFFF;
            box-shadow: 0 0.5rem 0.25rem rgba(190, 228, 231, 0.35);
            border-radius: 1rem;
            padding: 1rem;

            ul {
                list-style-type: square;
                padding-left: 1rem;

                li {
                    margin: 3rem;
                    line-height: 1.9;
                }
            }
        }

        .card {
            background: transparent;
            box-shadow: none;

            .card-thumb {
                height: 100%;
            }
        }
    }
}

.notified {
    margin-top: 2rem;

    img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: #367fa9;
    }

    .header {
        .nav-menu {
            .navbar-collapse {
                border: none;

                .navbar-nav {
                    background: #ffffff;
                    border-radius: 0.5rem;
                    width: 25rem;
                    margin-top: 0;
                    padding: 2rem 1rem;

                    li {
                        width: 100%;
                        padding: 0.5rem !important;

                        a {
                            color: #000000 !important;
                        }

                        &.login,
                        &.register {
                            a {
                                background: rgb(64, 194, 240);
                                color: #ffffff !important;
                                text-align: center;
                            }
                        }

                        &.register {
                            a {
                                background: #337ab7;
                            }
                        }
                    }
                }
            }
        }
    }

    .card {
        &.service {
            .card-text {
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 414px) {
    .header {
        height: 100%;

        .row {
            .shopper,
            .merchant,
            .customer {
                height: 70rem;

                img {
                    height: 100%;
                    width: auto;
                    margin-left: -50%;
                }
            }
        }

        .nav-menu {
            height: 6rem;
            bottom: auto;
            top: 0;

            .navbar {
                margin: 0;
            }

            .navbar-nav {
                background: #ffffff;
            }
        }

        .introduce {
            top: 0;

            .col-md-6 {
                height: 35rem;

                .title {
                    font-size: 3rem;
                    line-height: 4rem;
                }

                ul {
                    li {
                        font-size: 1.5rem;
                    }
                }

                &.for-shopper {
                    padding-top: 8rem;
                    padding-left: 30px;
                }

                &.for-merchant {
                    padding-top: 3rem;
                    padding-left: 30px;
                }
            }

            .title {
                font-size: 3rem;
                line-height: 1.5;
            }

            ul {
                li {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 1.4rem;
                margin: 2rem 0;
            }

            .btn {
                padding: 1rem 3rem;
                font-size: 1.5rem;
            }

            &.home {
                top: 20rem;
            }

            &.customer {
                top: 10rem;
            }
        }
    }

    .section {
        .card {
            &.shopper {
                min-height: auto;
            }
        }

        .title {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        .go-to-partner {
            font-size: 2rem;
            padding-top: 2rem;
            border-radius: 1rem;
            padding-bottom: 1.5rem;

            span {
                font-size: 1.5rem;
            }
        }

        .description {
            margin: 1.5rem 0 3rem;
            font-size: 1.4rem;
        }

        .content {
            text-align: left;
        }

        .panel-group {
            .panel-default {
                & > .panel-heading {
                    padding: 1rem;
                    font-weight: 500;
                }

                .panel-title {
                    font-size: 1.3rem;
                    line-height: 1.5;
                    font-weight: normal;
                }

                .panel-body {
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
            }
        }

        &.cyan {
            background: #F8FDFF;
        }
        &.advantage {
            td, th {
                div {
                    padding: 1rem;
                    min-height: 15rem;
                }
            }
        }
    }

    .card {
        &.service {
            .card-text {
                font-size: 2.5rem;
            }
        }
    }
    .footer {
        .form {
            .pr-0,
            .pl-0 {
                padding: 0 15px;
            }
        }
    }
}
